.head{
    background-color:white;
    color:"blue";
    border:solid;
    text-align: center;
    font-family: inherit;
     }
  

.note{
    background-color:lightgoldenrodyellow;
    text-align: center;
     border: double;
     font-family:sans-serif
     }
  
  .grid {
    background-color:rgb(43, 217, 230);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: left;
    flex-wrap: wrap;
    font-family: fantasy;
   }
  
  .camel {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 500px;
    padding: 50px;
    background-color:#E8E5E4;
  }
  
  .camel:hover{
    transform: scale(1.2);
  }
  
  .chameleon {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 500px;
    padding: 50px;
    background-color:#E8E5E4;
  }

  .chameleon:hover{
    transform: scale(1.2);
  }
  
  .cicada {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 500px;
    padding: 50px;
    background-color:#E8E5E4;
  }

  .cicada:hover{
    transform: scale(1.2);
  }
  
  .panda {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 400px;
    padding: 50px;
    background-color:#E8E5E4;
  }

  .panda:hover{
    transform: scale(1.2);
  }
  
  .pigeon {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 500px;
    padding: 50px;
    background-color:#E8E5E4;
  }

  .pigeon:hover{
    transform: scale(1.2);
  }
  
  .teddy {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 500px;
    padding: 50px;
    background-color:#E8E5E4;
  }

  .teddy:hover{
    transform: scale(1.2);
  }
  
  .butterfly {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 400px;
    padding: 50px;
    background-color:#E8E5E4;
  }

  .butterfly:hover{
    transform: scale(1.2);
  }

  a:link{
    color:violet;
    text-decoration: none 
  }

  a:visited{
    color:deepskyblue;
    text-decoration: none 
  }

